<h1>Welcome To The Club</h1>

<hr>

<h4>DevStories</h4>

<blockquote>
  <p class="flow-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In maiores fugit ipsam at corrupti labore quidem ea sequi, molestiae culpa.</p>
</blockquote>


{{#if user}}

{{else}}

<a href="/auth/google" class="btn red waves-effect waves-light pulse"><i class="fab fa-google"></i> Login With Google</a>


{{/if}}
